@model Shop.WebApp.Models.OrderVM
@{
    List<CustomerVM> CustomersList = null;
    if (ViewBag.CustomersList != null)
    {
        CustomersList = ViewBag.CustomersList as List<CustomerVM>;
    }
}

<h4>Edycja zamówienia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
             -->
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <!--<input asp-for="CustomerId" class="form-control" />-->
                <br />
                <select asp-for="@Model.CustomerId"
                        asp-items="@CustomersList.Select(x => new SelectListItem()
                                                            {
                                                                Text = x.ToString(),
                                                                Value = x.Id.ToString()
                                                            });">
                </select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="PaymentId" class="control-label"></label>
                <input asp-for="PaymentId" class="form-control" />
                <span asp-validation-for="PaymentId" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <!--<label asp-for="CreatedAt" class="control-label"></label>-->
                <input asp-for="CreatedAt" class="form-control" readonly hidden /> <!-- only to save CreatedAt while editing -->
                <!--<span asp-validation-for="CreatedAt" class="text-danger"></span>-->
            </div>
            <!--
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            -->

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy zamówień</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
