@model Shop.WebApp.Models.PaymentVM
@using Shop.Core.Domain
@using System.Linq;
@{
    List<OrderVM> OrdersList = null;
    if (ViewBag.OrdersList != null)
    {
        OrdersList = ViewBag.OrdersList as List<OrderVM>;
    }
}

<h4>Dodawanie płatności</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (OrdersList != null)
                {
                    <div class="form-group">
                        <label asp-for="OrderId" class="control-label"></label>
                        <br />
                        <select asp-for="@Model.OrderId"
                                asp-items="@OrdersList.Select(x => new SelectListItem()
                                                                   {
                                                                        Text = x.ToString(),
                                                                        Value = x.Id.ToString()
                                                                   });">
                        </select>
                        <span asp-validation-for="OrderId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" min="0.01" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <br />
                        <select asp-for="@Model.Status" asp-items="Html.GetEnumSelectList<PaymentStatus>()"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentMethod" class="control-label"></label>
                        <br />
                        <select asp-for="@Model.PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()"></select>
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Dodaj" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <span>Nie istnieją żadne zamówienia bez przypisanych płatności, dlatego nie można utworzyć płatności.</span>
                }
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy płatności</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
